<div class = "modal fade in" id = "experimental">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header" id = "experimental-header">
            <h1>Caution! This is an Experimental Feature!</h1>
            </div>
            <div class = "modal-body" id = "experimental-body">
                <p>This method of text loading uses experimental Optical Recognition Technology. As a result
                    the text that this page outputs may vary from what is actually on the photo you input. 
                    <br>
                    If the camera feature is not working, set the URL to https instead.</p>
            </div>
            <div class = "modal-footer">
                <input class = "btn btn-default" data-dismiss = "modal" value="got it"> 
            </div>
        </div>
    </div>
</div>