<html>
<head>
	<title>Help</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/upload.js"></script>
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>
</head>
<body>
	<div class = "nav-options upper">
		{{> header}}
	</div>


	<div class = "nav-options mid " style ="min-height: 20vh;">
		<ol>
		<h1>Confused on how <b>Peruse</b> works?</h1> 
		<p>
			<ol class="list-group">
				<li class="list-group-item">1. Choose method of uploading text/document/book.</li>
				<li class="list-group-item">2. Once text is uploaded, customize settings to your own liking. </li>
				<li class="list-group-item">3. Enjoy your read.</li>
				<li class="list-group-item">4. Once finished with reading, upload next document.</li>
			</ol>
		</p>
		</ol>
	</div>
</body>
</html>