<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>
	<link href="/css/introHCI.css" rel="stylesheet">
</head>
<body>
	<div class = "container">
		<h1 class = "highlight">Peruse</h1><br>
		<span id = "subtitle">an e-reader web app</span>
	</div>
	
	<div class = "login">
		<h2>email</h2>
		<input class="form-control form-control-lg" type="text" placeholder="email">
		<h2>password</h2> 
		<input class="form-control form-control-lg" type="password" placeholder="password"> 
		<br>
		<a href = "home"><button class="btn login-btn" type="submit">log in</button></a>
		<hr>
		<b>new user?</b> <a href = "signUp">sign up</a>
	</div>


	
</body>
</html>
