<html>
<head>
	<title>Test Page</title>
</head>
<body>
	<div>
		<a href = "confirm"><button>Upload Text</button></a> <br>
		<a href = "confirm"><button>Paste Text</button></a> <br>
		<a href = "confirm"><button>Scan Book</button></a>
	</div>
</body>
</html>
