<html>
<head>
	<title>Scan Text</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/upload.js"></script>
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="/js/ocrad.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>
</head>
<body>
	<div class = "nav-options upper">
		<div id = "back">
			<a onclick = "history.go(-1)"><img src = "images/{{icons.[back]}}" alt = "back" height = "50vh"></a>
		</div>
		<h1 style = "font-size:40;">Scan Text</h1>
		
	</div>
	<div class = "nav-options mid " style ="min-height: 20vh;">
		<ul style="padding:0">
		<video id="video" width="310" height="230" autoplay></video> <br>
		<button id="snap" class = "btn">Scan photo</button> <br>
		<canvas id="canvas" width="310" height="230">Scanned image will go here</canvas> <br><br>
		<div id = "preview">Result Text</div>
		
		<button class = "btn" onclick = "history.go(-1)">Cancel</button> &nbsp;
		<a href = "reader" onclick="pushPlaceholder()"><button class = "btn">Upload</button></a>
		</ul>
		<br>
		
		</div>
	</div>
	
	
	<footer >
		<a href = "settings"><img src = "images/{{icons.[settings]}}" alt = "settings" height = "50vh"></a>
		<a href = "help"><img src = "images/{{icons.[help]}}" alt = "help" height = "50vh"></a>
	</footer>

	<script>
		var canvas = document.getElementById('canvas');
		var context = canvas.getContext('2d');
		var video = document.getElementById('video');
		

		context.fillStyle = "blue";
		context.font = "bold 16px Arial";
		context.fillText("Result Image", (canvas.width / 2) - 50, (canvas.height / 2) + 8);

		// Get access to the camera!
		if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
			// Not adding `{ audio: true }` since we only want video now
			navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
				//video.src = window.URL.createObjectURL(stream);
				video.srcObject = stream;
				video.play();
			});
		}		
		// Trigger photo take
		document.getElementById("snap").addEventListener("click", function() {
			context.drawImage(video, 0, 0, 310, 230);
			var parsedText = OCRAD(context);
			console.log("This is the parsed text: " + parsedText);
			document.getElementById('preview').innerHTML = "Result Text: "+ parsedText;
		});

		function pushPlaceholder(){
			console.log("setting placeholder");
			localStorage.setItem('textContent', "Call me Ishmael. Some years ago — never mind how long precisely — having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen, and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off — then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.");
		}
	</script>
</body>
</html>
