<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>

		
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "nav-options upper">
		{{> header}}
		<h1>Settings</h1>
	</div>

	<div class = "nav-options mid " style ="min-height: 20vh;">
		<ul style="padding:0">
		<br>
		<br>
		<h2><img src = "images/{{icons.[textSize]}}" alt = "highlight" width = "50"> Text Size</h2>
		
		<div class="slidecontainer">
			Small <input type="range" min="1" max="100" value="50" class="slider" id="myRange" style = "width: 250"> Large
		</div>
		<h2><img src = "images/{{icons.[highlight]}}" alt = "highlight" width = "50"> Guided Reading Speed</h2>
		
		<div class="slidecontainer">
			Slow <input type="range" min="1" max="100" value="50" class="slider" id="myRange" style = "width: 250"> Fast
		</div>
		<br>
		<h2>Account Details</h2>
	
		<input class="form-control form-control-lg" type="text" id = "username" placeholder="update email">
		<br>
		<input class="form-control form-control-lg" type="text" placeholder="update password">
		<br>
		<button class = "btn" onclick = "saveSettings()">Save Settings</button> 
		</ul>
		
	</div>
	{{> popup}}
	<script>
		function saveSettings(){
			$('#experimental-header').html("<h1>Settings Saved</h1>")
			$('#experimental-body').html("")
			$('#experimental').modal('show');
		}
	</script>
</body>
</html>
