<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>

		
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "nav-options upper">
		{{> header}}
		<h1>Settings</h1>
	</div>

	<div class = "nav-options mid " style ="min-height: 20vh;">
		<ul style="padding:0">

		<h2>Word Count Per Page</h2>
		<i>(Between 50-500 words per page)</i><br>
		<input type="number" id="wpp" class="form-control" name="wpp" min="50" onchange ="update(this.id)" max="500" step ="50" value="50" style="text-align: center;">

		</ul>
		
	</div>
	{{> popup}}
	<script>
		function update(id){
				var value = document.getElementById(id).value;
				value = Math.min(Math.max(50, value), 500);
				document.getElementById(id).value = value
		}


		function saveSettings(){
			var wpp = document.getElementById("wpp").value;

			$('#experimental-header').html("<h1>Settings Saved</h1>")
			$('#experimental-body').html("")
			$('#experimental').modal('show');
			console.log("Saving settings" + wpp);
			localStorage.setItem("wpp", wpp);
		}
		
	</script>
</body>
</html>
