<html>
<head>
	<title>Upload Text</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/upload.js"></script>
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<script src="/js/bootstrap.min.js"></script>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>
</head>
<body>
	<div class = "nav-options upper">
		{{> header}}
		<h1 style = "font-size:40;">Upload Text</h1>
	</div>
	<div class = "nav-options mid " style ="min-height: 20vh;">
		<div>
		<input type="file" class="form-control" id="fileText" name="fileText"></textarea><br>
		<p>accepted file types: .txt</p>
		Preview: <textarea name="" id = "preview" cols="30" rows="18" style = "resize: none;" readonly></textarea><br> <br>
		<button class = "btn" onclick = "history.go(-1)">Cancel</button> 
		<button class = "btn" onclick="verify()">Upload</button>
		</div>
	</div>
	
	
	{{> footer}}

	{{> popup}}


</body>
</html>
