*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --highlight-speed:10s;
    --highlight-color:rgb(255 227 29);
}

.nav-options{
    text-align:center;
     
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login{
    width: 330;
    margin: auto;
    text-align: center;
}

.login h2{
    text-align: left;
}
.login br{
    height: 2;
}

#welcome{
    width:220px;
    font-size: 30;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.upper{
    min-height:5vh;
}

.upper #back{
    position: absolute;
    float:left;
    margin-left:2vh;
    top:10;
    left:0;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.mid{
    min-height:78vh;
}

.lower{
    min-height: 2vh;
}

footer{
    position: absolute;
    float:right;
    margin-right:2vh;
    bottom:10;
    right:0;
}

#pasteText{
    resize: none;
}

#readText{
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    
}

.break {
    flex-basis: 100%;
    height: 0;
    width:100;
  }

.btnLabel{
    color:black;
    font-size:22px;
}
a{
    color:black;
}
h1{
    text-align: center;
    font-weight: bold !important;
    font-size:80;
}

canvas, video, #preview, #pasteText{
    outline: #555 3px solid;
}

.btn{
    background-color: #bebebe;
}

.container{
    width: 350px;
    height: 170px;
    padding: 30px;
    background: #ffffff;
    margin: auto;
    text-align: center;
}
/* 
.container:hover .highlight{
    background-position: -100% 0;
}  */
#subtitle{
    font-size: 22;
}
.highlight{
    background: linear-gradient(to right, rgba(255,255,255,0) 50%, var(--highlight-color) 50%);
    background-size: 200%;
    background-position: -100% 0;
    display: inline;
    transition: .5s background ease-in-out;

}

.auto-highlight{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--highlight-color) 50%) !important;
    background-size: 200% !important;
    background-position: -100% 0 !important;
    display: inline !important;
    transition: var(--highlight-speed) background linear !important;
}
.login-btn{
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 110px 2.2fr 50px;
    gap: 0px 0px;
    grid-template-areas:
      "ArrowL Highlight DarkMode FocusMode TextSize ArrowR"
      "ReadingText ReadingText ReadingText ReadingText ReadingText ReadingText"
      "PageProgress PageProgress PageProgress PageProgress PageProgress PageProgress";
    height:100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .ReadingText { grid-area: ReadingText; }
  
 .reader-nav{
    background-color: rgb(239, 239, 239);
    padding-top: 20;padding-bottom: 10;
    min-height: 110px;
 }

  
  .ArrowL { grid-area: ArrowL;}
  
  .ArrowR { grid-area: ArrowR;}
  
  .HighlightMode { grid-area: Highlight;}
  
  .DarkMode { grid-area: DarkMode;}
  
  .FocusMode { grid-area: FocusMode;}
  
  .TextSize { grid-area: TextSize;}

  .PageProgress { grid-area: PageProgress; background-color: rgb(239, 239, 239); text-align: center; line-height: 350%;position:fixed;width:100%;bottom: 0;}

.active{
    background-color: rgb(156, 156, 156) !important;
}

.clickable:active{
    background-color: rgb(156, 156, 156) !important;
}
  .reader-content{
      font-size: 20px;
      padding: 70px;
      height: 100%;
  }

  .reader.backBtn{
      float:right;
      margin-top: 10px;
      margin-right: 25px;
  }
  
  textarea.form-control{
      height: 450 !important;
      width: 300;
  }

.modal-body, .modal-footer{
    text-align: center !important;
}

.help{
    color:black !important;
    font-size: large !important;
}


@media screen and (max-height: 400px){
    footer{
        position:relative;
    }
}
@media screen and (max-width: 480px){
    footer{
        margin-top: 10;
        position:relative;
    }
}
